.node-placeholder {
    display: none;
    margin: 0;

    border-radius: 5px;
    padding: 0.8rem;
    margin-bottom: 0.5rem;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: white;
    opacity: 0.8;

    border: 1px dashed white;
}

.node {
    background-color: yellow;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;

    color: white;

    font-weight: 700;
    text-transform: uppercase;
}

.node:last-of-type {
    margin-bottom: 0;
}

.node.condition {
    background-color: #179a98;
}

.node.action {
    background-color: #d8475e;
}