/* Utils */
.margin-1-top {
    margin-top: 1rem;
}

/* Common */
* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    background-color: #4FB99F;
}

a {
    color: #ffab8c;
}

body {
    background-color: white;
}

*::selection {
    background-color: #ED553B;
    color: white;
}

*::-webkit-scrollbar-track {
    background-color: #312d33;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 0;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #605864;
    opacity: 0.8;
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    border: none;
    transition: all 0.3s ease-in-out;
}

.bg-green {
    background-color: #4FB99F;
}

.bg-red {
    background-color: #ED553B;
}

input[type="text"],
input[type="password"] {
    border-radius: 0;
    background-color: white;
    border: 1px solid #eee;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 1px solid #eee;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Specific */

.logo {
    font-family: Pacifico, sans-serif;
    font-size: 3.2rem;
    color: white;
}

.logo-big {
    font-family: Pacifico, sans-serif;
    font-size: 8rem;
    color: white;
}

nav {
    padding: 2rem;
    background-color: #4FB99F;
}

nav h1 {
    float: left;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

nav .menu-item {
    padding: 0.8rem;
    display: inline-block;

    border: 1px solid white;
    border-radius: 5px;
    color: white;

    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav .menu-item.active {
    background-color: white;
    color: #4FB99F;
}

nav .menu-item.right {
    float: right;
}

.hero {
    background: linear-gradient(to top right, #173f4b, #068587);

    width: 100%;
    height: 60rem;
    padding: 4rem;

    color: white;

    text-align: center;
}

.hero .subtitle {
    display: block;
    width: 100%;

    position: absolute;
    top: 12rem;

    animation: fadeUp 1s;
}

.hero .button {
    position: absolute;
    transform-origin: 50% 0;

    top: 45rem;
    left: 40%;
    width: 20%;

    animation: fadeUp 1s;
}

@keyframes fadeUp {
    0% {
        transform: translateY(13rem);
        opacity: 0;
        font-size: 1rem;
    }
}

.hero svg {
    position: absolute;
    display: block;
    top: 14rem;
    width: 50%;
    left: 25%;
}

.hero svg .room > * {
    transition: all 0.3s ease-in-out;
}

.hero svg g.room:hover > * {
    transform: translateY(-1rem);
}

.hero svg .item, .hero svg .shadow {
    transform-origin: 50% 50%;
}

.hero svg g.room:hover > .item {
    transform: scale(1.5) translateY(-0.65rem);
}

.hero svg g.room:hover > .shadow {
    transform: scale(1.5) translateY(-0.6rem);
}